@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  display: flex;
  margin: 0;
  height: 100vh;
}

.container {
  height: 100%;
}

.container.left {
  flex: 0.35;
  background: url('./images/background-splash.jpg');
  background-size: cover;
}

.title-section {
  background-color: rgba(0, 0, 0, 0.442);
  margin-top: 30%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: Pacifico;
}

.title-section span {
  color: white;
  font-size: 3rem;
}

.container.right {
  flex: 0.65;
  display: flex;
  align-items: center;
}

.container.right p {
  white-space: break-spaces;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: larger;
}