@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  display: flex;
  margin: 0;
  height: 100vh;
}

.container {
  height: 100%;
}

.container.left {
  flex: 0.35;
  background: url('./images/background-splash.jpg');
  background-size: cover;
}

.title-section {
  background-color: rgba(0, 0, 0, 0.442);
  margin-top: 30%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: Pacifico;
}

.title-section span {
  color: white;
  font-size: 3rem;
}

.slight-bold {
  white-space: break-spaces;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #2E3745;
}

.container.right {
  flex: 0.65;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  background-color: #F9FAFB;
}

.container.right .input-section {
  background-color: #FFFFFF;
  box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.1);
  padding: 1.2rem 2.5rem;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  max-width: 40rem;
  row-gap: 1rem;
  column-gap: 4rem;
  padding: 1rem 0;
}

.input-field {
  max-width: 20rem;
}

.input-field label {
  display: block;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12.5px;
  color: #404953;
}

.input-field input {
  border: 2px solid #E5E7EB;
  border-radius: 3px;
  padding: 4px;
  padding-left: 8px;
  outline: none;
  appearance: none;
}

input:focus {
  border-color: cadetblue;
}

input:user-invalid {
  border-color: firebrick;
}

input[type="submit"] {
  border: 0;
  background-color: #596D48;
  color: white;
  margin: 2rem 2.5rem;
  width: 13rem;
  height: 2.8rem;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.2);
}

.login-text {
  margin: 0 2.5rem;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #2E3745;
}

.login-text a {
  color: #596D48;
  text-decoration: none;
}
